<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>c4d8ffe6-c93f-4f23-ac7a-89362bd75d36</string>
	<key>Yandex_API_KEY</key>
	<string>7cd03aed-4c1a-460a-aca2-90ae52dd60b6</string>
	<key>CLOUDPAYMENTS_MERCHANT_ID</key>
	<string>pk_2ec019c3a3a24b44996a1a2ca6f8c</string>
	<key>APPLE_PAY_MERCHANT_ID</key>
	<string>merchant.kex.group.app</string>
</dict>
</plist>
